<footer>
  <div class="footer-container">
    <div class="container">
      <div class="footer-logo">
        <img src="assets/logo.svg" alt="" />
      </div>
      <p>© 2022, All Rights Reserved.</p>
    </div>
    <div class="container">
      <h3>Quick links</h3>
      <ul>
        <li><a href="">Web Development</a></li>
        <li><a href="">Design</a></li>
      </ul>
    </div>
    <div class="container">
      <h3>Legal Stuff</h3>
      <ul>
        <li><a href="">Privacy Notice</a></li>
        <li><a href="">Terms Of Use</a></li>
        <li><a href="">Cookie Policy</a></li>
      </ul>
    </div>
    <div class="container">
      <h3>About me</h3>
      <ul>
        <li><a href="">Github</a></li>
        <li><a href="">twitter</a></li>
      </ul>
    </div>
  </div>
</footer>
