<div class="pinned-articles">
  <!-- start hero -->
  <div
    class="hero"
    [ngStyle]="{
      'background-image':
        'linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 1%,
      rgba(0, 0, 0, 0) 38%,
      rgba(0, 0, 0, 0.8) 100%
    )' +
        ',url(' +
        article.img +
        ')'
    }"
    *ngFor="let article of pinnedArticles | slice: 0:1"
  >
    <a [routerLink]="['/article/' + article.id]" class="hero-details">
      <div class="article-label">Web Development</div>
      <h1 class="hero-title">{{ article.title }}</h1>
      <div class="date-container">
        <div class="date-icon">
          <img src="assets/calender.svg" width="20px" alt="" />
        </div>
        <span class="white-date">{{ article.creationDate }}</span>
      </div>
    </a>
  </div>
  <!-- end hero -->
  <!-- start article -->
  <div class="article" *ngFor="let article of pinnedArticles | slice: 1:3">
    <div
      class="article-img"
      [ngStyle]="{ 'background-image': 'url(' + article.img + ')' }"
    ></div>
    <a [routerLink]="['/article/' + article.id]" class="article-details">
      <div class="article-label">Web Development</div>
      <h2 class="article-title">
        {{ article.title }}
      </h2>
      <div class="date-container">
        <div class="date-icon">
          <img src="assets/calender.svg" width="20px" alt="" />
        </div>
        <span>{{ article.creationDate }}</span>
      </div>
    </a>
  </div>
  <!-- end article -->
</div>
