.container {
  width: 100%;
  overflow: hidden;
  background-color: white;
  border-radius: 16px;
  box-shadow: 1px 1px 5px 0 rgb(1 1 1 / 10%);
  transition: all 250ms ease;
  text-decoration: none;
}

.container:hover {
  box-shadow: 0px 5px 10px rgb(1 1 1 / 15%);
  transform: translateY(-0.25rem);
}
.img-container {
  height: 350px;
  overflow: hidden;
  background-image: url("https://images.unsplash.com/photo-1640622842223-e1e39f4bf627?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80");
  background-position: center;
  background-size: cover;
}
.date-container {
  display: flex;
  align-items: flex-end;
  color: #4b4b4b;
}
.date-icon {
  width: 1.56rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.article {
  padding: 15px;
  display: block;
  text-decoration: none;
}

.article-title {
  width: 100%;
  color: #212121;
  margin: 10px 0px;
  word-wrap: break-word;
}
.article-label {
  padding: 0.8rem;
  background-color: #e5f5ff;
  width: fit-content;
  border-radius: 8px;
  font-weight: 500;
  font-size: 0.85rem;
  padding: 0.5rem;
  color: #00558e;
}
