.container {
  width: 70%;
  max-width: 75rem;
  margin: 3rem auto;
}
.article {
  height: fit-content;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr auto;
  align-items: center;
  padding: 2.5rem;
  border-radius: 16px;
  box-shadow: 1px 1px 5px 0 rgb(1 1 1 / 10%);
}
.article-img {
  width: 100%;
  height: 21rem;
  grid-column-start: 1;
  grid-column-end: 2;
  border-radius: 16px;
  background-size: cover;
}
.article-details {
  height: 100%;
  padding: 0 1.5rem;
  box-sizing: border-box;
  grid-column-start: 2;
  grid-column-end: 4;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.date-container {
  display: flex;
  align-items: flex-end;
  color: #4b4b4b;
  margin-top: auto;
}
.date-icon {
  width: 1.56rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.article-label {
  padding: 0.8rem;
  background-color: #e5f5ff;
  width: fit-content;
  border-radius: 8px;
  font-weight: 500;
  font-size: 0.85rem;
  padding: 0.5rem;
  color: #00558e;
}
.article-details > h1 {
  margin-top: 0.5rem;
}
.article-content {
  grid-column-start: 1;
  grid-column-end: 4;
  display: flex;
  flex-direction: column;
}
img {
  max-width: 100%;
  margin: auto;
}
@media (max-width: 1024px) {
  .container {
    width: 90%;
    margin: 1.5rem auto;
  }
  .article-img {
    height: 17rem;
  }
}
@media (max-width: 820px) {
  .article {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .article-details > h1 {
    font-size: 1.5rem;
  }
}
@media (max-width: 500px) {
  .article {
    display: block;
    padding: 1.1rem;
  }
  .article-details {
    margin-top: 1.25rem;
    padding: 0%;
  }
}
@media (max-width: 320px) {
  .article {
    padding: 1rem;
  }
}
